.messagesContainer {
	display: flex;
	flex-direction: column;
	margin-top: 90px;
	z-index: 100;
	background: white;
}

.messagesGroup {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

.messagesGroup:last-child {
	margin-bottom: 10px;
}
