@import "../../utilities/variables";

.header {
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding-top: 5px;
	position: fixed;
	background: #7493BC;
	z-index: 1000;
}
  
.header p {
	color: white;
	display: inline-block;
	margin-left: 8px;
	font-weight: 500;
	font-size: 20px;
}

.logoImageWrapper {
	width: 38px;
}

.logoImageWrapper img {
	max-width: 100%;
	border-radius: 100%;
	border: 1px solid #c5cfdb;
}